<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="widght=device-wight, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>>
<body>


    <div class="wrapper">
        <h1 class="warpper__title">Roksolana Pashko</h1>
        <p1 class="warpper_bb">
            Looking for new opportunity
        </p1>
        <p class="wpapper__subtitle">Я 20 років працювала в ПриватБанку. Пройшла весь шлях від простого працівника до Керівника великого підрозділу.
        У зв’язку з реорганізацією регіональної мережі Банку виникла необхідність змінити роботу.
        Я давно мріяла потрапили в ІТ-сферу, вважаю її найбільш динамічною і цікавою.
        Завжди було цікаво самій розібратися, як це працює.
        Моя попередня робота навчила мене правильному оформленню документації, уважності до деталей, нестандартним рішенням у вирішенні будь-яких проблем чи завдань.
        Під час роботи в Банку я часто виконувала завдання по впровадженню нових послуг та вдосконаленню робочого середовища працівника з метою виявлення помилок в роботі програмного забезпечення та надання пропозицій від користувачів по оптимізації робочих процесів.
        Я звикла багато вчитись, читати, працювати над собою.
        Зараз займаюсь з репетитором для вдосконалення мого рівня англійської мови.
        У мене хороші організаторські здібності-завжди працювала з великою кількістю працівників (150-250) і їхніх проблем в роботі. Завдяки цьому розвинулось вміння швидко приймати рішення в екстрених ситуаціях. Неконфліктна.
        Маю невеликий досвід роботи з SQL.
        Зараз проходжу марафон від GO IT.
        Банк йде в інтернет і я хочу йти з ним  в ногу. Хочу опанувати нову професію і працевлаштуватись в ІТ ПриватБанку, куди без відповідних знань і навичок не беруть.
        Я завжди досягаю поставлених цілей, про це свідчать мої робочі показники КРІ. Зараз я можу приділяти багато часу навчанню і зроблю все можливе (і неможливе) для того, щоб стати спеціалістом в новій сфері.
        </p>
    </div>
    <div class="naviks">
        </div>
        <div class="html">
            I know the base html,css,start lerning python
            </div>

    </div class="english">
           My english Intermediate 1 (B1)
    </div>
    <button class="wapper__btn">Phone Number</button>
    <script src="scripy.js"></script>
    <img src="foto.jpg" alt="" height="800" width="700" style="margin-left: 750px; margin-top: 7px;" >

</body>
</html>
